# Compiled Python files
__pycache__/
*.pyc

# Virtual environment
venv/
env/
*.egg-info/
.Python

# Jupyter Notebook
.ipynb_checkpoints/

# IDE files
.vscode/
.idea/

# Logs
*.log

# Any sensitive or private information (e.g., API keys)
secrets/

# Miscellaneous
*.swp
.DS_Store

cleaned_data.csv
cleaned_data_normalized.csv
normalized_data_minmax.csv
predicted_dataset.csv
cities.csv
full_prediction_points.csv
predicted_new.csv
normalized_full_prediction.csv
cleaned_data_beforeoutliers.csv
points_withoutoutliers.csv
points.csv
trained_model.pkl
data/~$Anexo 1. GRADIENTES GEOTÉRMICOS APARENTES.xlsx
gradients_no_mag.csv
Mapa_V2.qgz
cleaned_faults.csv