# Compiled Python files
__pycache__/
*.pyc

# Virtual environment
venv/
env/
*.egg-info/
.Python

# Jupyter Notebook
.ipynb_checkpoints/

# IDE files
.vscode/
.idea/

# Logs
*.log

# Any sensitive or private information (e.g., API keys)
secrets/

# Miscellaneous
*.swp
.DS_Store

cleaned_data_normalized.csv
cities.csv
cleaned_data_beforeoutliers.csv
points_withoutoutliers.csv
gradients_no_mag.csv
cleaned_faults.csv
gradients_no_mag.csv
cleaned_faults.csv
map_predicted.qgz
Mapa_V2.qgz
Mapa_Basamento.qgz
points_withoutoutliers.csv
cleaned_data_beforeoutliers.csv
cleaned_data.csv
cleaned_faults.csv
gradients_no_mag.csv
Model_V2.ipynb
Model_V3.ipynb
Model.ipynb